<h1>Dashboard</h1>
<br>
<h2>This is my Application</h2>
<% if current_user %>
  <%= link_to "Add Post", new_post_path %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Text</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <% @post.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.text %></td>
          <td><%= image_tag(post.image_url, width: 300) if post.image.present? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>